:root {
  --color-red: #ef4444;
  --color-purple: #a855f7;
  --color-blue: #3b82f6;
  --color-orange: #f97316;
  --color-green: #10b981;
  --color-gray: #6b7280;
  --color-light: #fafafa;
  --color-dark: #0a0a0a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-blue);
  margin-bottom: 8px;
}

main {
  padding: 16px;
  text-align: center;
}

p {
  color: var(--color-gray);
}